@font-face {
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}

* { 
    margin: 0;
    padding: 0;
    font-family: lato, sans-serif;

}
 /* header */
 header nav a,header form{
     display: none;
     text-decoration: none;
     color: white;

 }

 header nav a:first-child{
     display: block;
 }

 
 header nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     list-style: none;
     
     color: white;
     background-color: black;
 }

#image{
    background-image:url(../img/la.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

    height: 25vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content:flex-end;
    color: white;
}

#image p{
    display: none;
}

